<a href="https://colab.research.google.com/github/Mmotaharinia/General-Regx-Matplotlib-Scipy-_Data_Engineering_Skills/blob/main/C_regex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import re
#\n might be a special charecter in python
exp='nnuyf 68u7 -n \n hc '' '
print(exp)

nnuyf 68u7 -n
 hc

In [ ]:
#Now lets make it a regular expression
print(r'nnuyf 68u7 -n \n hc '' ')

nnuyf 68u7 -n \n hc

In [ ]:
pattern=re.compile(r'8u')
matches=pattern.finditer(exp)
for n in matches:
    print(n)
print(exp[7:9])

<re.Match object; span=(7, 9), match='8u'>
8u

In [ ]:
df=pd.DataFrame([{'name':'  Mohammad Motaharinia'},{'name': 'Alex     Morales'},{'name':'Dave     ,.   miri'}])
print(df)

                     name
0    Mohammad Motaharinia
1        Alex     Morales
2      Dave     ,.   miri

In [ ]:
df=pd.DataFrame([{'name':'  Mohammad Motaharinia'},{'name': 'Alex     Morales'},{'name':'Dave     ,.   miri'}])
df["name"]=df["name"].replace("\W"," ",regex=True)
print(df)

                     name
0    Mohammad Motaharinia
1        Alex     Morales
2      Dave          miri

In [ ]:
df["name"]=df["name"].replace("\s+"," ",regex=True)
df

                    name
0   Mohammad Motaharinia
1           Alex Morales
2              Dave miri

In [ ]:
#(^\s)one space in the beginning#(^\s+)az many space in the beginning#(\s$) space at the end # ('\s+') any length space#

df=pd.DataFrame([{'name':'  Mohammad Motaharinia  '},{'name': 'Alex    Morales'},{'name':'Dave     ,.   miri'}])
df["name"]=df["name"].replace('^\s+','',regex=True)
df["name"]=df["name"].replace('\s+$','',regex=True)
df["name"]=df["name"].replace('\W+',' ',regex=True)
print(df)

                   name
0  Mohammad Motaharinia
1          Alex Morales
2             Dave miri

In [ ]:
pattern="(^\w+)( \w+)"
df["name"].str.extract(pattern)

          0             1
0  Mohammad   Motaharinia
1      Alex       Morales
2      Dave          miri